.wrapper#logo
  %a{:href => "/about"}
    %h1.slogan
      %span.slabtext Slo 
      %span.slabtext gan 
      %span.slabtext izm

  %p Enter your slogan below!

  %form{:action => "/", :method => "post", :autocomplete => "off"}
    %input{:type => "text", :name => "slogan", :class => "text"}
    -#%input{:type => "submit", :value => "Sloganize!", :class => "button"} // commented out button for now
