!!!
%html
  %head
    - if defined?(@title)
      %title= "Sloganizm - " + @title
    - else
      %title Sloganizm - Mantrafy Your Life!
    %link(rel="stylesheet" href="css/reset.css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300")      
    %link(rel="stylesheet" href="assets/novecentowide_bold/stylesheet.css")
    %link(rel="stylesheet" href="css/styles.css")
    %link(rel="stylesheet" href="css/slabtext.css")
    %script(type="text/javascript" src="js/jquery-1.8.3.min.js")
  %body
    .float
    .content
      =yield
      .icon
        %img(src="http://placehold.it/40x40")
    -#%script(type="text/javascript" src="js/magnifier.js")
    %script(type="text/javascript" src="js/slabtext.js")
    :javascript 
      function slabTextHeadlines() {
        $("h1").slabText({"resizeThrottleTime":10});
      };

      function vCentre(){
        contentHeight = $(".content").outerHeight();
        $(".float").css({"margin-bottom":-contentHeight/2 + "px"});
      };

      $(document).ready(function(){
        slabTextHeadlines();
        vCentre();
      });

      $(window).resize(function(){
        vCentre();
      });
